////////////////////////////////////////////////////////////////////////////////
///// GLOBAL STYLES

@import "./vars.scss";

body {
  margin: 0;
  padding: 0;
  background-color: $footer-bg-color;
}

* {
  box-sizing: border-box;
}

code {
  background-color: darken($body-bg-color, 10%);
  padding: 0 $space-unit / 4;
  border-radius: $border-radius;
}

.content-wrapper {
  padding-top: $space-unit;
  padding-right: $space-unit;
  padding-bottom: $space-unit;
  padding-left: $space-unit;
  max-width: 960px;
  // 100% - headerHeight - footerHeight
  min-height: calc(100vh - #{$expected-header-height} - #{$expected-footer-height});
  margin: 0 auto;
  
  .language-text code {
    display: block;
    overflow: auto;
    padding: $space-unit;
  }
}

/* Larger than phablet */
@media (min-width: 550px) {
  padding-bottom: $space-unit * 2;
}

/* Larger than tablet */
@media (min-width: 750px) {
  padding-top: $space-unit;
  padding-right: 0;
  padding-bottom: $space-unit * 3;
  padding-left: 0;
}

@import "./text.scss";
